.App {
  text-align: center;
}

.Left{ 
  width: 23%;
  height: 100%;
  float: left;
  background-color: rosybrown;
  border-collapse: collapse;
  margin-left: 2%;
}

.Right{ 
  width: 75%;
  height: 100%;
  position: relative;
  float: right;
  background-color: yellow;
  border-collapse: collapse;
}