.App {
  text-align: center;
}

.Left{ 
  width: 23%;
  height: 100vh;
  float: left;
  /*background-color: rosybrown; /* for debug purposes */
  border-collapse: collapse;
  margin-left: 2%;
  margin-right: 2%;
}

.Right{ 
  width: 72.8%;
  height: 100vh;
  position: relative;
  float: right;
  /*background-color: yellow; /* for debug purposes */
  border-collapse: collapse;
  border-left: solid;
  border-width: thin;
}